{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="text-center"> Add Stock Here...</h2>
    <form method="POST">

{% csrf_token %}
  <div class="mb-3 mx-auto" style="width:30%">
  <label  class="form-label">Stock</label>
  <input type="number" class="form-control"  value="{{pro.stock}}" name="s" placeholder="Enter the stock">
</div>
 <div class="mb-3 text-center mx-auto">
  <input type="submit" value="submit">
</div>
    </form>
</div>
{% endblock %}